/* PROJECTS SECTION */

.projects {
    position: relative;
}

.section__text__p1-project {
    color: gray;
    text-align: center;
    font-family: "Jost 400";
    letter-spacing: 0.05em;
}

.title-project {
    margin-top: 20px;
    color: black;
    font-size: 3rem;
    text-align: center;
    font-family: "Jost 700";
    letter-spacing: 0.05em;
}

.color-container {
    border-color: rgb(163, 163, 163);
}

.project-img {
    border-radius: 0.2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: black;
    font-family: "Jost 200";
    letter-spacing: 0.05em;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

.project-img {
    transition: opacity 0.3s ease;
}

.project-img:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .projects {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .section__text__p1-project{
        margin-top: 60px;
    }

    .web-projects {
        height: 750px !important;
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: fit-content;
    height: 250px;
}

.projects-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.web-projects {
   height: 550px;
}