/* SECTIONS */

section {
    padding-top: 10vh;
    height: 100vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

.profile {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 80vh;
}

/* blob */
.blob {
    background-image: url('../../images/profile2.jpg');
    width: 380px;
    height: 380px;
    background-size: cover;
    -webkit-background-position: center;
    background-position: center center;
    margin: 20px;
    box-shadow: 0 5px 5px 5px rgba(112, 112, 112, 0.2);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes animate {

    0%,
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-family: "Jost 400";
    letter-spacing: 0.05em;
}

.section__text__p1-profile {
    color: black;
    text-align: center;
    font-family: "Jost 400";
    letter-spacing: 0.05em;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    font-family: "Jost 400";
    letter-spacing: 0.05em;
}

.title-profile {
    color: gray;
    font-size: 3rem;
    text-align: center;
    font-family: "Jost 700";
    letter-spacing: 0.05em;
}

.socials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1.5rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.fa-linkedin-in,
.fa-github-alt {
    color: gray;
}


/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}


@media screen and (max-width: 768px) {
    .profile {
        justify-content: center;
        display: block;
        width: 100%;
        height: 86vh;
    }

    .blob {
        justify-content: center;
        height: 250px;
        width: 250px;
    }

    .title-profile {
        font-size: 2rem;
    }

    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0;
        padding: 0;
    }

    .section__pic-container {
        justify-content: center;
        height: 300px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .section__text__p2 {
        font-size: 1.5rem;
    }

    .section__text__p1-profile {
        margin-top: 20px;
    }
}


:root {
    --primary: black;

}

.btn {
    padding: 8px 20px;
    border-radius: 1px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: "Jost 300";
}

.btn--primary {
    background-color: var(--primary);
    color: white;
}

.btn--outline {
    background-color: transparent;
    color: black;
    padding: 8px 20px;
    border: 1.5px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 10px 20px;
    font-size: 16px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}


.btn--outline:hover {
    border: 1.5px solid white;
}

.btn--large:hover,
.btn--medium:hover {
    transition: all 0.3s ease-out;
    background: black;
    color: white;
    transition: 250ms;
}